@charset "utf-8";
/*톤28 공통 요소 CSS - common.css*/


/*마우스 커서*/
#cursor {
    position: absolute;
    /*
    width: 30px;
    height: 30px;
*/
    border-radius: 50%;
    /*    background-color: #E8E6E0;*/
    border: 3px solid #E8E6E0;
    pointer-events: none;
    z-index: 99999999;
}

.cursor {
    width: 30px;
    height: 30px;
}

/*a링크 마우스오버시 커서 확대, 색채우기*/
.curfill {
    opacity: .6;
    transform: scale(1.6);
    transition: all .3s ease-out;
    /*
    border: none;
    background-color: #E8E6E0;
*/
}




/*메뉴 박스(아이패드 사이즈부터)*********************/

/*반투명박스*/
#bgBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999999;
    overflow-y: scroll;
/*    display: none;*/
}


.menu_box {
    position: absolute;
    top: 0;
    left: -100%;
    width: 45%;
    height: 100%;
    background-color: #fff;
    padding: 50px;
}

.mob_gnb li {
    float: none;
    margin-bottom: 8%;
}

.mob_gnb a {
    font-family: 'Optima';
    font-size: 25px;
}

.mob_gnb_bottom {
    padding-top: 10%;
}

.mob_gnb a:hover {
    text-decoration: underline;
}


/*헤더**************************************************/
#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}

#top .inbox {
    position: relative;
    width: 95%;
    font-family: 'Optima', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    height: 80px;
}

/*gnb*/
.gnb li {
    margin-right: 42px;
}

.underline {
    position: relative;
    display: inline-block;
    transition: all .9s cubic-bezier(.4, 0, .2, 1);
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 1.2s cubic-bezier(.4, 0, .2, 1);
    transform-origin: right;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



/*로고*/
.logo {
    position: absolute;
    font-size: 30px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
}

.gnb.right li:last-child {
    margin-right: 0;
}


/*모바일 메뉴 버튼*/
.mob_menuBtn {
    position: relative;
    width: 75px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #333;
    background: transparent;
    display: none;
}

.mob_menuBtn a {
    display: block;
    font-size: 16px;
    font-family: 'Optima';
}


/*모바일 카트*/
.mob_cart {
    font-size: 19px;
    display: none;
}



/*하단 영역**************************************************/
#info {
    position: relative;
}

#info .inbox {
    width: 95%;
    height: 350px;
    border-top: 1px solid #333;
    position: relative;
}

.info_txt {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;

}

.info_logo {
    font-family: 'Optima', serif;
    font-size: 25px;
    font-weight: 500;
}

/*하단 오른쪽*/
.info_right {
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
}

.info_list {
    margin-left: 5%;
}

.info_list li {
    float: none;
    font-size: 15px;
    margin-bottom: 15px;
}

.info_list .info_cate {
    font-size: 15px;
    padding-bottom: 15px;
}









/*하단 고정*/
.footer_white {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333;
    width: 2.5%;
    height: 100%;
}
