@charset "utf-8";
/*톤28 공통 요소 CSS - common.css*/


/*마우스 커서*/
#cursor{
    position: absolute;
/*
    width: 40px;
    height: 40px;
*/
    width: 30px;
    height: 30px;
    border-radius: 50%;
/*    background-color: #E8E6E0;*/
    border: 3px solid #E8E6E0;
    pointer-events: none;
    z-index: 99999999;
}


/*헤더**************************************************/
#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}

#top .inbox {
    position: relative;
    width: 95%;
    font-family: 'Optima', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    height: 80px;
}

/*gnb*/
.gnb li {
    margin-right: 42px;
}

.underline{
    position: relative;
    display: inline-block;
    transition: all .9s cubic-bezier(.4,0,.2,1);
}

.underline::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    transform-origin: right;
}

.underline:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}



/*로고*/
.logo {
    position: absolute;
    font-size: 30px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
}

.gnb.right li:last-child {
    margin-right: 0;
}





/*하단 영역**************************************************/
#info {
    position: relative;
}

#info .inbox {
    width: 95%;
    height: 350px;
    border-top: 1px solid #333;
}

.info_txt {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;

}

.info_logo {
    font-family: 'Optima', serif;
    font-size: 25px;
    font-weight: 500;
}

.info_logo a{
}

/*하단 오른쪽*/
.info_right{
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
}

.info_list {
    margin-left: 5%;
}

.info_list li{
    float: none;
    font-size: 15px;
    margin-bottom: 15px;
}

.info_list .info_cate{
    font-size: 15px;
    padding-bottom: 15px;
}









/*하단 고정*/
.footer_white{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333;
    width: 2.5%;
    height: 100%;
}
