@charset "utf-8";
/*전체사이트 핵심공통*/
@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoB.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoEB.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoH.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoL.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoM.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoM.woff) format("woff");
}

@font-face {
    font-family:'AppleSDGothic';
    src:url(../fonts/AppleSDGothicNeoM.woff) format("woff");
}

@font-face {
    font-family:'Optima';
    src:url(../fonts/Optima.woff2) format("woff2");
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*font-family: 'Noto Serif KR', serif;*/
/*font-family: 'Noto Serif SC', serif;*/
/*font-family: 'Noto Sans KR', sans-serif;*/

/*사이트 전체설정*/
body{
    font-family: 'AppleSDGothic', sans-serif;
    color: #333;
    cursor: none;
}
/*IR(Image Replacement)-이미지설명요소 등 안보이게 처리*/
.bld{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/*레이아웃 공통 class*/
.inbox{
    width: 1200px;
    max-width: 100%;/*1200px보다 작아질때 화면에 맞춤!*/
    margin: 0 auto;
    outline: 2px dashed pink;
    overflow: hidden;
}

.clb::after{
    clear: both;
    display: block;
    content: '';
}
