@charset "utf-8";
/* 카본뷰티 메인 css - main.css */

/* css머징 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);
@import url(jquery.fullPage.css);
@import url(media.css);


body {
    padding-top: 80px;
}

/*배너 영역**************************************************/
#ban {
    position: relative;
    height: calc(100vh - 80px);
}

#ban .inbox {
    width: 95%;
    margin-top: 2%;
}

.ban {
    position: relative;
    height: 87vh;
}

.ban video {
    position: absolute;
    left: 0;
/*    top: 0;*/
    top: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*컨텐츠 영역(1)**************************************************/
#cont_1 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_1 .inbox {
    width: 95%;
    background: url(../images/cont_1.jpg) no-repeat center/cover;
    height: 87vh;
    position: relative;
    margin-top: 2%;
}

.cont_1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}


/*텍스트*/
.cont_txt {
    position: absolute;
    width: 630px;
    height: 50%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
    z-index: 999;
    overflow: hidden;
}

.cont1_txt_ani {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    opacity: 0;
}

.cont_txt p {
    line-height: 33px;
    margin-bottom: 180px;
    font-size: 18px;
}

.cont1_txt_2{
    display: none;
    font-family:'Optima', sans-serif;
}

.btn_box {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 41px;
    line-height: 40px;
    border: 1px solid #fff;
    color: #fff;
    overflow: hidden;
}

.btn_box:hover {
    color: #333;
}


.btn_box::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #fff;
    transform: translateX(-100%);
    z-index: 2;
    transition: 0.5s ease-in-out;
}

.btn_box:hover::after {
    transform: translateX(0);
}

.btn_box span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}


/*컨텐츠 영역(2)**************************************************/
#cont_2 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_2 .inbox {
    width: 95%;
    height: 87vh;
    position: relative;
}


.prod_list {
    position: absolute;
    width: 1690px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    top: 150%;/*풀페이지 애니메이트를 위해 탑값 변경*/
    transform: translate(-50%, -50%);
    opacity: 0;

}


/*상품박스 개별 리스트 li*/
.prod_list li {
    position: relative;
    float: none;
    margin-right: 1.5%;
    flex-basis: 33.33%;
    overflow: hidden;
}

.prod_list li:nth-child(3) {
    margin-right: 0;
}

/*마우스 오버시 이미지 확대*/
.prod_list li.zoom::after {
    transition: all .4s ease-in-out;
}

.prod_list li.zoom:hover::after {
    transform: scale(1.05);
}

/*자세히보기 안보이게*/
.pmore {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    color: #fff;
}

/*호버시 '자세히보기' 나타나기*/
.prod_list li.zoom:hover .pmore {
    opacity: 1;
}



/*li에 비율박스 적용하기*/
.prod_list li::before {
    content: '';
    display: block;
    padding-top: 135%;
}


.prod_list li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.prod_list li:nth-child(1)::after {
    background-image: url(../images/prod_01.jpg);
}

.prod_list li:nth-child(2)::after {
    background-image: url(../images/prod_02.jpg);
}

.prod_list li:nth-child(3)::after {
    background-image: url(../images/prod_03.jpg);
    margin-right: 0;
}


/*비율유지 속박스*/
.ibx {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    /*반투명박스*/
    background: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.ptxt {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    line-height: 30px;
    z-index: 9;
}

.ptit {
    font-weight: 400;
    font-size: 20px;
}

.pmore {
    font-weight: 400;
    font-size: 14px;
}


/*컨텐츠 영역(3)**************************************************/
#cont_3 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_3 .inbox {
    width: 95%;
    background: url(../images/main_4.jpg) no-repeat center/cover;
    height: 87vh;
    position: relative;
    margin-top: 2%;
}

.cont_3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


.cont_3 .cont_txt p > b {
    font-size: 23px;
    font-weight: 500;
}

.cont_3 .btn_box {
    height: 42px;
}
