@charset "utf-8";
/* 카본뷰티 메인 css - main.css */

/* css머징 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


body {
    padding-top: 80px;
}

/*배너 영역**************************************************/
#ban {
    position: relative;
    height: calc(100vh - 80px);
}

#ban .inbox {
    width: 95%;
}

.ban {
    position: relative;
    height: 87vh;
}

.ban video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*컨텐츠 영역(1)**************************************************/
#cont_1 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_1 .inbox {
    width: 95%;
    background: url(../images/cont_1.jpg) no-repeat center/cover;
    height: 87vh;
    position: relative;
}

.cont_1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

/*텍스트*/
.cont_txt {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.cont_txt p {
    line-height: 33px;
    margin-bottom: 180px;
    font-size: 18px;
}

.btn_box {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #fff;
    margin: 0 auto;
    color: #fff;
}


/*컨텐츠 영역(2)**************************************************/
#cont_2 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_2 .inbox {
    width: 95%;
    height: 87vh;
    position: relative;
}


.prod_list {
    position: absolute;
    width: 1690px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


/*상품박스 개별 리스트 li*/
.prod_list li {
    position: relative;
    float: none;
    margin-right: 1.5%;
    cursor: pointer;
    flex-basis: 33.33%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*li에 비율박스 적용하기*/
.prod_list li::before {
    content: '';
    display: block;
    padding-top: 135%;
    /*반투명박스*/
    background: rgba(0, 0, 0, 0.3);
}


.prod_list li:nth-child(1) {
    background-image: url(../images/prod_01.jpg);
}

.prod_list li:nth-child(2) {
    background-image: url(../images/prod_02.jpg);
}

.prod_list li:nth-child(3) {
    background-image: url(../images/prod_03.jpg);
    margin-right: 0;
}


/*비율유지 속박스*/
.ibx {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.ptxt {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    line-height: 30px;
}

.ptit {
    font-weight: 400;
    font-size: 20px;
}

.pmore {
    font-weight: 400;
    font-size: 14px;
}


/*컨텐츠 영역(3)**************************************************/
#cont_3 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_3 .inbox {
    width: 95%;
    background: url(../images/main_4.jpg) no-repeat center/cover;
    height: 87vh;
    position: relative;
}

.cont_3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.cont_3 .cont_txt p > b {
    font-size: 23px;
}








