@charset "utf-8";
/* 카본뷰티 메인 css - main.css */

/* css머징 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


body {
    padding-top: 80px;
}

/*배너 영역*/
#ban {
    position: relative;
    height: calc(100vh - 80px);
}

#ban .inbox {
    width: 95%;
}

.ban {
    position: relative;
    height: 87vh;
}

.ban video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*컨텐츠 영역*/
#cont_1 {
    position: relative;
    height: calc(100vh - 80px);
}

#cont_1 .inbox {
    width: 95%;
    background: url(../images/cont_1.jpg) no-repeat center/cover;
    height: 87vh;
    position: relative;
}

.cont_1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

/*텍스트*/
.cont_txt {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.cont_txt p {
    line-height: 33px;
    margin-bottom: 180px;
    font-size: 18px;
}

.btn_box {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #fff;
    margin: 0 auto;
    color: #fff;
}
