@charset "utf-8";
/* media.css - 요소의 셋팅 초기화 */

/*아이패드pro 사이즈 - 1024px **********************************************************/
@media only screen and (max-width: 1024px) {

    /*공통사항*/
    #cursor {
        display: none;
    }


    /*헤더******************************/
    .top {
        height: 90px;
    }

    .gnb a {
        font-size: 18px;
    }


    /*배너영역******************************/
    #ban.section.page1 .inbox {
        width: 100%;
        height: 65vh;
    }


    /*컨텐츠영역 1******************************/
    #cont_1.section.page2 .inbox {
        width: 100%;
        height: 65vh;
        margin-top: 0;
    }

    #cont_1.section.page2 .cont_txt p {
        line-height: 38px;
        margin-bottom: 160px;
        font-size: 22px;
    }

    /*read more 버튼*/
    #cont_1.section.page2 .btn_box {
        width: 145px;
        height: 45px;
        line-height: 44px;
    }

    #cont_1.section.page2 .btn_box span {
        font-size: 18px;
    }

    #cont_1.section.page2 .cont1_txt_ani,
    #cont_3.section.page4 .cont1_txt_ani {
        width: 100%;
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1 !important;
    }

    #cont_1.section.page2 .cont_txt,
    #cont_3.section.page4 .cont_txt {
        width: 100%;
        height: 100%;
        top: 50%;
    }

    /*컨텐츠영역 2 - 상품3개 리스트******************************/
    #cont_2.section.page3 .inbox {
        width: 100%;
        height: 135vh;
        margin-top: 0;
    }

    #cont_2.section.page3 .prod_list {
        flex-direction: column;
        position: relative;
        left: auto;
        transform: translate(0);
        top: 0 !important;
        opacity: 1 !important;
    }

    #cont_2.section.page3 .prod_list li {
        margin-right: 0;
    }

    #cont_2.section.page3 .prod_list li::before {
        padding-top: 60%;
    }

    #cont_2.section.page3 .prod_list li::after {
        background-position-y: 75%;
    }

    #cont_2.section.page3 .ptxt {
        bottom: 10%;
        line-height: 40px;
    }

    #cont_2.section.page3 .ptit {
        font-size: 26px;
    }

    #cont_2.section.page3 .pmore {
        font-size: 21px;
        opacity: 1;
    }



    /*컨텐츠영역 3 - 맨마지막 컨텐츠************************/
    #cont_3.section.page4 .inbox {
        width: 100%;
        height: 65vh;
        margin-top: 0;
    }

    #cont_3.section.page4 .cont_txt p {
        font-size: 21px;
        margin-bottom: 160px;
    }

    #cont_3.section.page4 .cont_3 .cont_txt p > b {
        font-size: 25px;
    }

    /*read more 버튼*/
    #cont_3.section.page4 .btn_box {
        width: 145px;
        height: 45px;
        line-height: 44px;
    }

    #cont_3.section.page4 .btn_box span {
        font-size: 18px;
    }




    /*하단 영역****************************/
    #info.section.page5 .inbox {
        margin-top: 5%;
        /*        width: 100%;*/
    }

    .info_logo {
        font-size: 29px;
    }

    .info_txt {
        padding: 40px 30px;
    }

    .info_list {
        margin-left: 9%;
    }

    .info_list .info_cate {
        font-size: 19px;
        padding-bottom: 17px;
    }

    .info_list li {
        font-size: 17px;
        margin-bottom: 17px;
    }

}



/*아이패드 사이즈 - 768px **********************************************************/
@media only screen and (max-width: 768px) {

    /*헤더 **********************************************/
    .gnb.left {
        display: none;
    }

    .mob_menuBtn {
        display: block;
    }

    .gnb {
        display: none;
    }

    .mob_cart {
        display: block;
    }

    /*컨텐츠영역 1 **********************************************/
    #cont_1.section.page2 .cont_txt p {
        line-height: 36px;
        margin-bottom: 150px;
        font-size: 20px;
    }

    #cont_1.section.page2 .btn_box,
    #cont_3.section.page4 .btn_box {
        width: 150px;
    }

    /*컨텐츠영역 2 - 상품리스트 **********************************************/
    #cont_2.section.page3 .ptit {
        font-size: 24px;
    }

    #cont_2.section.page3 .pmore {
        font-size: 19px;
    }

    /*컨텐츠영역 3 - 마지막 컨텐츠 **********************************************/
    #cont_3.section.page4 .cont_txt p {
        font-size: 20px;
        margin-bottom: 150px;
    }

    /*하단영역 *******************************************/
    .info_list {
        margin-left: 7%;
    }

    .info_list .info_cate {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .info_list li {
        font-size: 16px;
    }

    .info_right {
        position: absolute;
        bottom: 13%;
    }
}



/*모바일 - 480px **********************************************************/
@media only screen and (max-width: 480px) {

    #bgBox {
        top: 68px;
    }

    .menu_box {
        width: 100%;
        padding: 50px 35px;
    }

    /*헤더*/
    #top {
        width: 100vw;
    }

    .top {
        height: 70px;
    }

    .logo {
        font-size: 25px;
    }

    .mob_menuBtn {
        width: 65px;
        height: 27px;
    }

    .mob_menuBtn a {
        font-size: 15.5px;
    }

    .mob_cart {
        font-size: 18px;
    }

    /*배너*/
    #ban.section.page1 .inbox {
        height: 65vh;
    }


    /*두번째 섹션*/
    /*
    #cont_1.section.page2 .cont_txt p {
        line-height: 25px;
        margin-bottom: 110px;
        font-size: 12px;
    }
*/

    #cont_1.section.page2 .cont_txt,
    #cont_3.section.page4 .cont_txt {
        width: 100%;
        height: 100%;
        top: 50%;
    }



    /*텍스트*/
    .cont1_txt_1 {
        display: none;
    }

    #cont_1.section.page2 .cont_txt p.cont1_txt_2,
    #cont_3.section.page4 .cont_txt p.cont1_txt_2 {
        font-size: 23px;
        display: block;
        margin-top: -13%;
        margin-bottom: 0;
    }

    #cont_1.section.page2 .btn_box,
    #cont_3.section.page4 .btn_box {
        width: 125px;
        margin-top: 40%;
    }

    /*세번째 섹션 - 상품리스트*/
    #cont_2.section.page3 .inbox {
        height: auto;
    }

    #cont_2.section.page3 .prod_list li::before {
        padding-top: 75%;
    }

    #cont_2.section.page3 .ptxt {
        line-height: 27px;
    }

    #cont_2.section.page3 .ptit {
        font-size: 20px;
    }

    #cont_2.section.page3 .pmore {
        font-size: 16px;
    }

    /*마지막 섹션*/

    /*푸터*/

    .info_logo {
        font-size: 24px;
    }

    #info.section.page5 .inbox {
        margin-top: 18%;
        height: 380px;
    }

    .info_txt {
        padding: 30px 10px;
    }

    .info_right {
        justify-content: flex-start;
        width: 100%;
    }

    .info_list {
        margin-left: 0;
        margin-right: 8%;
    }

    .info_list .info_cate {
        font-size: 17px;
        padding-bottom: 15px;
    }

    .info_list li {
        font-size: 15px;
    }

}
